---
import EXPERIENCE from '../api/experience.json'
import ExperienceItem from './ExperienceItem.astro'
---

<section
	id='experience'
	class='w-full max-w-7xl | px-12 pt-6 pb-14 | flex flex-col items-center gap-16 | overflow-hidden'
>
	<h1
		class='text-5xl md:text-7xl !leading-tight font-bold text-transparent bg-clip-text bg-gradient-to-r from-igarba-orange-800 via-igarba-orange-1000 to-igarba-orange-700'
	>
		Experiencia
	</h1>

	<ol>
		{
			EXPERIENCE.map((experience, index, arr) => (
				<li
					class={`ps-4 | relative | border-s border-gray-200 ${
						index !== arr.length - 1 ? 'pb-12' : 'pb-2'
					}`}
				>
					<ExperienceItem {...experience} />
				</li>
			))
		}
	</ol>
</section>
