---
import MenuIcon from './icons/MenuIcon.astro'
---

<header class='w-full | p-6 | flex items-center lg:justify-center | text-center'>
	<input type='checkbox' id='menu' hidden class='peer' />
	<label
		for='menu'
		class='relative
      z-50
      lg:hidden
      peer-checked:[&>.first]:hidden
      peer-checked:[&>.last]:block'
	>
		<MenuIcon />
	</label>
	<nav
		class='min-h-screen lg:min-h-0
      py-24 lg:py-0
      absolute lg:static left-0 right-0 top-0
      z-40
      hidden
      bg-white lg:bg-inherit bg-opacity-40 backdrop-blur-lg lg:backdrop-blur-0
      peer-checked:block
      lg:block'
		id='navbar'
	>
		<ul
			class='flex flex-col lg:flex-row items-center lg:items-start gap-x-8 gap-y-4
      text-slate-700 font-semibold tracking-tight
      [&>li>a]:border-b-2 [&>li>a]:border-b-transparent
      [&>li>a]:transition-all'
		>
			<li>
				<a href='/' class='text-xl | hover:border-b-black hover:text-black'>Sobre mí</a>
			</li>

			<li class='flex lg:flex-col items-center gap-3'>
				<a href='#myCV' class='text-xl | hover:border-b-black hover:text-black'>Experiencia</a>
				<div class='pl-2 lg:pl-0'>
					<span class='bg-igarcia-orange-1000 rounded | px-2.5 py-0.5 | text-black font-semibold'
					>Proximamente
					</span>
				</div>
			</li>

			<li class='flex lg:flex-col items-center gap-3'>
				<a href='/#projects' class='text-xl | hover:border-b-black hover:text-black'>Proyectos</a>
				<div class='pl-2 lg:pl-0'>
					<span class='bg-igarcia-orange-1000 rounded | px-2.5 py-0.5 | text-black font-semibold'
					>Proximamente
					</span>
				</div>
			</li>
		</ul>
	</nav>
</header>

<script type='module'>
	const menuCheckbox = document.querySelector('#menu')
	const mediaQuery = window.matchMedia('(min-width: 1024px)') // Breakpoint lg
	const navbar = document.querySelector('#navbar')

	navbar.querySelectorAll('a').forEach((anchor) => {
		anchor.addEventListener('click', (_event) => {
			if (document.body.style.overflowY === 'hidden') {
				hideOverFlow(false)
				menuCheckbox.checked = false
			}
		})
	})

	function hideOverFlow (value) {
		if (value) {
			window.scrollTo(0, 0)
			document.body.style.overflowY = 'hidden'
		} else {
			document.body.style.overflowY = 'auto'
		}
	}

	menuCheckbox.addEventListener('change', (e) => {
		e.target.checked ? hideOverFlow(true) : hideOverFlow(false)
	})

	mediaQuery.addEventListener('change', (e) => {
		if (e.matches) {
			hideOverFlow(false)
			menuCheckbox.checked = false
		}
	})
</script>
