---
import ProjectItem from './ProjectItem.astro'
// import porfolioImage from '/public/img/projects/igarba-2.png'

// const porfolioData = {
// 	img: porfolioImage,
// 	title: 'Porfolio',
// 	description: 'Porfolio personal de Iván García Ballesteros'
// }
---

<section
	id='projects'
	class='w-full max-w-7xl | px-12 mt-16 mb-14 | flex flex-col items-center gap-16 | overflow-hidden'
>
	<h1
		class='text-5xl md:text-7xl !leading-tight font-bold text-transparent bg-clip-text bg-gradient-to-r from-igarba-orange-800 via-igarba-orange-1000 to-igarba-orange-700'
	>
		Proyectos
	</h1>

	<div class='w-full | grid md:grid-cols-10 auto-rows-[15rem] sm:auto-rows-[20rem] gap-8'>
		<ProjectItem className={'md:col-span-6'} />
		<ProjectItem className={'md:col-span-4'} />
		<ProjectItem className={'md:col-span-4'} />
		<ProjectItem className={'md:col-span-6'} />
	</div>
</section>
