<section id='myCV' class='p-12 | flex flex-col items-center justify-center | vertical-line'>
</section>

<style>
	.vertical-line {
		background-image: linear-gradient(
			to right,
			transparent,
			transparent calc(50% - 1px),
			rgb(222, 217, 204) 50%,
			transparent 50%
		);
	}
</style>
