<section
	class='w-full | bg-gradient-to-r from-igarcia-yellow-100 via-igarcia-yellow-100 to-igarcia-orange-100 | clip-path'
>
	<slot />
</section>

<style>
	.clip-path {
		clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
	}
</style>
