<section
	class='w-full
    relative
    overflow-hidden
    bg-gradient-to-r from-igarcia-yellow-1000 via-igarcia-yellow-1000 to-igarcia-orange-1000
    clip-path'
>
	<slot />
</section>

<style>
	.clip-path {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
		clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
	}
</style>
