---
const { className } = Astro.props
---

<section
	class=`w-full | relative | flex flex-col items-center | overflow-hidden | bg-gradient-to-r from-igarba-yellow-1000 via-igarba-yellow-1000 to-igarba-orange-1000 | ${className}`
>
	<slot />
</section>
